.sport {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    height: 500px;
}

.sport img {
    width: 100%;
    border-radius: 8px;
}

.text {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 0px;
}

;

.name {
    font-size: large;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

;

.description {
    margin-bottom: 10px;
}

.btn {
    width: 85%;
    height: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: blue;
    border: none;
    margin-top: 10px;
    color: whitesmoke;
    font-size: large;
    font-weight: 500;
}

.btn:hover{
    background-color: aquamarine;
    cursor: pointer;
}